.Browse-button {
  font-family: Robotom, sans-serif;
  color: white;
  font-size: 1rem;

  height: 2.5rem;
  width: 8rem;

  border-style: none;
  border-radius: 0.5rem;
}

.Browse-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
