.JoblistingContainer {
  display: flex;
  flex-direction: row;

  margin-top: 4rem;
  gap: 2rem;
}

.JoblistingContainerHome {
  display: flex;
  flex-direction: row;

  margin-top: 4rem;
  gap: 2rem;
}
