.JobPreviewContainer {
  border: 2px rgb(202, 202, 202) solid;
  border-radius: 10px;

  width: 28rem;
  margin-left: auto;
  padding: 1.5rem;

  font-family: Roboto, sans-serif;
}

.JobPreviewContainerToggled,
.JobPreviewContainer:hover {
  outline: 4px orange solid;
  border: 2px rgb(255, 255, 255) solid;

  border-radius: 10px;

  width: 28rem;
  margin-left: auto;
  padding: 1.5rem;

  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.JobPreviewContainer:hover {
  outline: 2px orange solid;
}

.imageFileLocation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imageFileLocation {
  width: 6rem;
}

.imageFileLocation-flagicon {
  height: 1.5rem;
  width: 1.5rem;
  color: rgb(54, 54, 54);
}

.jobRole {
  color: rgb(48, 48, 48);
  font-size: 1.5rem;
  font-weight: 500;

  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

.companyName {
  color: rgb(57, 57, 57);
  font-size: 1.2rem;

  margin-bottom: 1rem;
}

.companyAddress {
  color: rgb(57, 57, 57);
  font-size: 1rem;

  margin-bottom: 0.4rem;
}

.salaryRange {
  color: rgb(57, 57, 57);
  font-size: 1rem;

  margin-bottom: 0.4rem;
}

.jobClassification {
  color: rgb(57, 57, 57);
  font-size: 1rem;

  margin-bottom: 0.4rem;
}

.perksAndBenefits {
  color: rgb(57, 57, 57);
  font-size: 1rem;

  margin-left: 1.2rem;
  padding-left: 0;
}

.datePosted {
  color: rgb(103, 103, 103);
  font-size: 1rem;
}
