.Navbar {
  height: 3rem;
  width: 1220px;

  margin-left: 1.5rem;
  margin-right: 1.5rem;

  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .Navbar {
    justify-content: center;
  }
}
