.RightNavbars {
  margin-left: Auto;
  align-self: center;
  height: 100%;

  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .RightNavbars {
    margin: 1rem;
  }
}

.HomeNav,
.JobsNav,
.AddJobsNav {
  height: 100%;
  border-style: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: 500;

  font-size: 1rem;
  font-family: Roboto, sans-serif;
  margin-right: 1rem;
}

.NavToggled,
.AddJobsNav:hover,
.JobsNav:hover,
.HomeNav:hover {
  background-color: rgb(212, 74, 0);
  border-radius: 0.3rem;
  cursor: pointer;

  height: 100%;
  border-style: none;
  color: rgb(255, 255, 255);
  font-weight: 500;

  font-size: 1rem;
  font-family: Roboto, sans-serif;
  margin-right: 1rem;
}
